-#  This file is app/views/movies/index.html.haml
%h1 All Movies
%table#movies
  %thead
    %tr
      %th{:id => 'title_header', :class => helper_class('title')}= link_to "Movie Title", movies_path(:sort=>'title')
      %th Rating
      %th{:id => 'release_date_header', :class => helper_class('release') }= link_to "Release Date", movies_path(:sort=>'release')
      %th More Info
  %tbody
    - @movies.sort_by{|a| helper_sort(a)}.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
